@model IEnumerable<MyBlog.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

<h2>Blog List</h2>
<hr />
@Html.Partial("BlogList", Model)

@section RightColon
{

    @Html.Partial("Search")
    @{Html.RenderAction("CategoryList", "Category");}

}


